@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.sectionCards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 4rem;
}
.card-content-area{
    padding: 10% 0;
    
}
.card-box{
    cursor: pointer;
}
.card-box:hover{
    box-shadow: 0px 0px 8px 5px rgba(62, 101, 93, 0.7);
}
.card-box.animate .cardContent{
    transform: rotateY(180deg);
}
.card-box,
.front,
.back{
    width: 415px;
    height: 400px;
}
.cardContent{
    transition: 0.8s;
    transform-style: preserve-3d;
    position:relative;
}
.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left:0;
}
.front{
    z-index: 2;
    transform: rotateY(0);
    box-shadow: 5px 5px 10px rgba(0.4, 0.4, 0.1, 0.3);
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transform: rotateY(180deg);
    background-color: var(--darkGreen);
    color: var(--white);
}
.back-content{
    border: 5px inset var(--bone);
    padding: 2rem 1rem;
    width: 400px;
    height: 360px;
    overflow-y: scroll;
}
.back-content h2{
    font-family: "Glass Antiqua", cursive;
    font-size: var(--font-h2);
    font-weight:bold;
}
.back-content h3{
    font-family: "Glass Antiqua", cursive;
    font-size: var(--font-h4);
    font-weight:bold;
}
.back-content p{
    text-align: left;
    line-height: 1.3;
    font-size: var(--font-body);
}
.img-1{
    background: url(images/fiddleleaf.svg);
    background-size:165px;
    background-repeat: no-repeat;
    background-position: center center;
}
.img-2{
    background: url(images/aloe.svg);
    background-size:125px;
    background-repeat: no-repeat;
    background-position: center center;
}
.img-3{
    background: url(images/snakeplant.svg);
    background-size:150px;
    background-repeat: no-repeat;
    background-position: center center;
}