/*GENERAL-----------------------*/
:root {
    --black: #1A1D1A;
    --blue: #74B4C6;
    --bone: #ECE2D0;
    --darkGreen: #3e655d;
    --greenGrey: #D8E0DF;
    --lightBlue: #A1D6E4;
    --lightGreen: #93BDB5;
    --lighterGreen: #AADCD2;
    --lightOrange: #FAB380;
    --orange: #F7802B;
    --purple: #D4B1CF;
    --white: #FFFFFF;
    --font-h1: 3rem; /*48px*/
    --font-h2: 2.5rem; /*40px*/
    --font-h3: 2rem; /*32px*/
    --font-h4: 1.5rem; /*24px*/
    --font-h5: 1.25rem; /*20px*/
    --font-body: 1rem; /*16px*/ 
    --font-button: 1.5rem; /*24px*/ 
    --font-link: 1rem; /*16px*/ 
    }

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bone);
    font-family: "Figtree", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active { 
    text-decoration: none; 
    color: var(--darkGreen);
} 

/*GENERAL PAGE-----------------------*/
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    overflow-x: hidden;
}

.title {
    font-family: "Glass Antiqua", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: var(--black);
}

/*HEADER & NAVBAR---------------------------*/
.navbar {
    display: flex;
    width: 100vw;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom,  rgb(255, 222, 191), rgba(236,226,208,0));
}

.navlist {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    font-size: var(--font-h4);
    font-family: "Glass Antiqua", sans-serif;
    font-weight: 600;
    color: var(--black);
    z-index: 3;
}

.navlist-item {
    cursor: pointer;
}

.navlist-item:hover {
    color: var(--darkGreen);
}

.pothos-decoration-left {
    position: absolute;
    left: -8rem;
    top: -13rem;
}

.pothos-decoration-right {
    position: absolute;
    right: -8rem;
    top: -13rem;
    transform: rotateY(180deg);
}

/*FOOTER------------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background: var(--darkGreen);
    color: var(--greenGrey);
    font-size: 16px;
}

/*SCROLL BAR--------------------------------*/
*::-webkit-scrollbar {
    height: 10px;
}
  
*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .2);
}

*::-webkit-scrollbar-thumb {
    background-color: #93BDB5C0;
    border-radius: 10px;
}

/**_______________________________________________________________________________________________**/
/**------------------------------------MADELINE - INFO CARDS--------------------------------------**/
.sectionCards {
    padding-top: 5rem;
}


/**_______________________________________________________________________________________________**/
/**--------------------------------------PIA - GALLERY--------------------------------------------**/
.sectionGallery {
    padding: 3rem 0;
}


/**_______________________________________________________________________________________________**/
/**------------------------------------KATHRYN - CALENDAR-----------------------------------------**/
.sectionCalendar {
    padding: 3rem 0;
}
